.payment__header{
    background-color: #fefefe;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.header__title{
    font-size: 1.8em;
    font-weight: 400;
    color: #000;
    text-align: center;
}
.payment__container{
    display: flex;
    background-color: #eee;
    justify-content: center;
    padding: 2vw;
    height: 100vh;
}
.payment__left{
    flex: 0.75;
    background-color: #fff;
    box-shadow: 1px 1px 2px 2px #fefefe;
    padding: 20px;
    margin-right: 30px;
    height: max-content;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    box-shadow: none !important;
}
.payment__left .title{
    font-family: 500;
    font-size: 1.18em;
    color: orangered;
}
.delivery__info{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 20px;
}
.delivery__info #email{
    font-weight: 600;
    margin-bottom: 8px;
    color: rgb(19, 18, 18);
}
.delivery__info #local_addressInfo, #gloabal_addressInfo{
    font-size: 0.95em;
    font-weight: 400;
    color: #555;
}
.payment__right{
    flex: 0.25;
    background-color: #fff;
    box-shadow: 1px 1px 2px 2px #fefefe;
    padding: 20px;
    height: max-content;
}
.payment__right .order__summary{
    margin-bottom: 15px;
}
.payment__right p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#order_itemTotal{
    border-top: 1px solid lightgray;
    padding: 5px;
}
#order_itemTotal span:first-child{
    font-size: medium;
    text-align: left;
}
#order_itemTotal span:last-child{
    font-size:medium;
    font-weight: 500;
}
#order_deliveryChargeTotal{
    border-bottom: 1px solid lightgray;
    padding: 5px;
}
#order_deliveryChargeTotal span:first-child{
    font-size: medium;
    text-align: left;
}
#order_deliveryChargeTotal span:last-child{
    font-size:medium;
    font-weight: 500;
}
.payment__right .total_price{
    font-weight: 700;
    font-size: 1.15em;
    color: orangered;
}
#order_total{
    border-bottom: 1px solid lightgray;
}
#payment_formTitle{
    margin: 20px 0;
    font-weight: 600;
    font-size: 1.2em;
    color: navy;
    text-transform: uppercase;
}

#stripe__logo{
    background-color: rgb(206, 201, 201);
    padding: 2px 8px;
    border-radius: 6px;
    width: max-content;
    float: right;
    margin: 15px 0;
}
#payment_logo{
    font-size: x-small;
    color: rgb(75, 74, 74); 

}
#payment_logo sub{
    font-weight: 700;
    color: rgb(37, 36, 36) !important;
}
.payment__form button{
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: rgb(250, 212, 43);
    color: rgb(54, 54, 54);
    border: none;
    font-size: 0.9em;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    
}
.payment__form button:hover{
    background-color: orange;
    transition: 0.2s ease-in-out 0.01s;
}
